body {
    font-family: Arial, Helvetica, sans-serif;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
 
  .container {
    background: #ffcb05;
    padding: 30px;
    border-radius: 10px;
    width: 350px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  }
 
  h1 {
    margin-bottom: 20px;
  }
 
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
 
  button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #e3350d;
    color: white;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s;
    margin-bottom: 20px;
  }
 
  button:hover {
    opacity: 0.8;
  }
 
  #resultado {
    background-color: #f8f9fc;
    padding: 15px;
    border-radius: 5px;
  }
 
  img {
    margin: 10px 0;
  }
 
  .erro {
    color: red;
    font-weight: bold;
  }